# Temporary domain for Brillo daemons.
type brillo, domain;
type brillo_exec, exec_type, file_type;

init_daemon_domain(brillo)
net_domain(brillo)

unix_socket_connect(brillo, connectivity, connectivity)
unix_socket_connect(brillo, dbus_daemon, dbus_daemon)

# Following are needed for firewalld.
allow brillo self:capability { net_admin net_raw };
allow brillo self:rawip_socket create;
allow brillo self:rawip_socket getopt;
allow brillo self:rawip_socket setopt;
allow brillo self:udp_socket create;
allow brillo system_file:file execute_no_trans;

# Needed for webservd.
allow brillo self:capability { net_bind_service };

# Rules for the metrics daemon.
type metrics_data_file, file_type, data_file_type;
dontaudit brillo kernel:system module_request;
allow brillo metrics_data_file:dir {add_name search write};
allow brillo metrics_data_file:file {append create getattr lock open read setattr write};
