# Temporary domain for Brillo daemons.
type brillo, domain;
type brillo_exec, exec_type, file_type;

init_daemon_domain(brillo)
net_domain(brillo)

unix_socket_connect(brillo, dbus_daemon, dbus_daemon)

# Following are needed for firewalld.
allow brillo self:capability { net_admin net_raw };
allow brillo self:rawip_socket create;
allow brillo self:rawip_socket getopt;
allow brillo self:rawip_socket setopt;
allow brillo self:udp_socket create;
allow brillo system_file:file execute_no_trans;

# Needed for webservd.
allow brillo self:capability { net_bind_service };
