# Domain for update_engine daemon.
type update_engine, domain;
type update_engine_exec, exec_type, file_type;
type update_engine_data_file, file_type, data_file_type;

init_brillo_domain(update_engine)
net_domain(update_engine)

# Allow using persistent storage.
allow update_engine update_engine_data_file:dir { create_dir_perms };
allow update_engine update_engine_data_file:file { create_file_perms };

# Allow using metrics_lib.
allow update_engine metrics_data_file:dir ra_dir_perms;
allow update_engine metrics_data_file:file create_file_perms;
