# wifi_init.
type wifi_init, domain;
type wifi_init_exec, exec_type, file_type;
type wifi_device, dev_type;
type wifi_sysfs_entry, fs_type, sysfs_type;

init_brillo_domain(wifi_init)

allow wifi_init self:capability { net_admin net_raw };
allow wifi_init self:udp_socket create_socket_perms;

# Permissions for WiFi driver initialization.
allow wifi_init sysfs:file w_file_perms;
allow wifi_init wifi_device:chr_file rw_file_perms;
allow wifi_init wifi_sysfs_entry:file rw_file_perms;
dontaudit wifi_init wifi_device:chr_file { getattr ioctl };

